<div class="form-container">
    <app-radio-bar
        [options]="heightUnitOptions"
        [value]="value.unit"
        (valueChange)="onUnitChange($event)"
        size="S"
        [disabled]="unitDisabled"
    ></app-radio-bar>
    <app-number-input
        [value]="valueInternal.mainValue"
        (valueChange)="onMainValueChange($event)"
        [alwaysShowButtons]="alwaysShowButtons"
        [alwaysShowBorder]="alwaysShowBorder"
        [noButtons]="noButtons"
        [buttonIncrement]="1"
        [max]="value.unit == 'cm' ? 300 : 9"
        [placeholder]="value.unit"
    ></app-number-input>
    <app-number-input
        class="inches-input"
        [ngClass]="{'soft-hidden': value.unit == 'cm'}"
        [value]="valueInternal.inches"
        (valueChange)="onInchesChange($event)"
        [alwaysShowButtons]="alwaysShowButtons"
        [alwaysShowBorder]="alwaysShowBorder"
        [noButtons]="noButtons"
        [max]="11"
        [buttonIncrement]="0.5"
        placeholder="in"
    ></app-number-input>
</div>