.container {
    margin: 0 1rem;
}
h5 {
    color: var(--text-e);
    font-weight: 300;
}
p {
    color: var(--text-s);
    font-weight: 300;
}

[disabled] {
    color: var(--disabled);
    opacity: 85%;
    pointer-events: none;
}
.processing-msg {
    opacity: 75%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}