h6 {
    color: var(--text-s);
    font-weight: 300;
    margin: 0.75rem auto 0.25rem 0.75rem;
}
p {
    color: var(--text-s);
    font-weight: 300;
}
.data-row-container {
    border-top: 1px solid var(--acc);
}