.container {
    margin: 0 1rem;
}
h5 {
    color: var(--text-e);
    font-weight: 300;
}
p {
    color: var(--text-s);
    font-weight: 300;
}

.notice-container {
    padding-top: 1rem;
    padding-left: 0.6rem;
}