button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size: inherit;
}
span {
    padding-left: 0.25rem;
}
.icon {
    font-size: 1.6em;
    margin-right: 0.2rem;
}
span + .icon {
    font-size: 1.05em;
}