<div class="grid-container">
    <div class="card-container" *ngFor="let opt of options; let i = index" [style]="'--i:'+i+';'">
        <input
            type="radio"
            [name]="id"
            [id]="id+-i"
            [checked]="opt.checked"
            class="hidden"
            (change)="onSelect(opt.value)"
        >
        <label [for]="id+-i" class="card unselectable">
            <div class="hidden">
                <ng-content></ng-content>
            </div>
            <div class="svg-container" *ngIf="opt.svg">
                <img [src]="'/assets/'+opt.svg" alt="">
            </div>
            <fa-icon class="icon" *ngIf="opt.faIcon" [icon]="opt.faIcon" [iconstyle]="opt.iconstyle"></fa-icon>
            <bi-icon class="icon" *ngIf="opt.icon" [icon]="opt.icon"></bi-icon>
            <span class="title uppercase" *ngIf="opt.title">{{ opt.title }}</span>
            <span class="subtitle" *ngIf="opt.subtitle">{{ opt.subtitle }}</span>
            <span class="desc" *ngIf="opt.desc">{{ opt.desc }}</span>
        </label>
    </div>
</div>