select {
    height: 1.5rem;
    font-size: 0.85rem;
    text-align: center;
    background: var(--bg);
    border: 1px solid var(--disabled);
    border-radius: 4px;
    z-index: 2;
    color: var(--text);
}
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > span {
        align-self: flex-end;
        font-size: 90%;
        font-weight: 300;
        color: var(--text-s)
    }
}