<div class="form-container">
    <app-transparent-button
        size="S"
        icon="calendar4-week"
        [text]="date.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' })"
        (click)="isModalOpen = true"
    ></app-transparent-button>
    <app-modal
        title="Select date"
        cancelButtonText="Cancel"
        okButtonText="Confirm"
        [(open)]="isModalOpen"
        (confirm)="onConfirm()"
        [isWidthMaxContent]="true"
        >
        <div class="calendar-container">
            <app-calendar
                (activeDateChange)="dateStorage = $event"
                [activeDate]="date"
            ></app-calendar>
            <span>
                Selected:
                {{ dateStorage.toLocaleDateString('en-US', {day: 'numeric', month: 'long', year: 'numeric'}) }}
            </span>
        </div>
    </app-modal>

</div>