.bmi-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.grid-label {
    font-size: 80%;
    color: var(--text-s);
    font-weight: 400;
}
.grid-value {
    font-size: 120%;
}