<div class="bmi-scale-container">
    <div class="bmi-bar-container">
        <app-bar-scale
            [ranges]="BMI_CONSTANT"
            [value]="value.value"
        ></app-bar-scale>
        <div class="bmi-data-container">
            <div class="grid-item">
                <span class="grid-label">YOUR BMI IS</span>
                <span class="grid-value">{{ value.value }}</span>
            </div>
            <div class="grid-item">
                <span class="grid-label">WHICH MEANS YOU ARE</span>
                <span class="grid-value" [style.color]="value.range.color">{{ value.range.nameString }}</span>
            </div>
        </div>
    </div>
</div>