.bmi-scale-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.25rem;
    height: 1.5rem + 0.8rem + 2 * 1rem + 0.4rem;
}

.bmi-bar-container {
    position: relative;
}
.bmi-bar {
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: stretch;
    gap: 1px;
    border-radius: 999px;
    overflow: hidden;
}
.bmi-labels {
    width: 100%;
    display: flex;
    justify-content: stretch;
    gap: 1px;
    position: relative;

    .bmi-bar-label span {
        position: absolute;
        bottom: 0;
        font-size: 70%;
        transform: translateX(-50%);
        color: var(--text-e);
    }
}
.bmi-bar-marker {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: 1px solid transparent;
    border-bottom-color: rgba(255,255,255,0.6);
    top: -0.4rem;
    transform: translateX(-50%);
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 0.7072rem;
        height: 0.7072rem;
        background: var(--bg);
        border: 1px solid rgba(255,255,255,0.6);
        transform: rotate(45deg) translateX(-0.5rem);
        top: 100%;
        left: calc(0.5rem - 1px);
    }
}
.bmi-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.grid-label {
    font-size: 80%;
    color: var(--text-s);
    font-weight: 400;
}
.grid-value {
    font-size: 120%;
}