<div class="master-container">
    <a class="go-back-text"
        *ngIf="!hideBackToPresent"
        [ngClass]="{disabled: year == currentDate.getFullYear() && month == currentDate.getMonth()}"
        (click)="setDatePresent()"
    >
        Back to present
    </a>
    <div class="heading-container">
        <div>
            <app-transparent-button
                icon="chevron-double-left"
                (click)="changeYearDown()"
                size="ICON"
                iconSize="0.5rem"
            ></app-transparent-button>
            <app-transparent-button
                icon="chevron-left"
                (click)="changeMonthDown()"
                size="ICON"
                iconSize="0.5rem"
            ></app-transparent-button>
        </div>
        <h6 role="heading" *ngIf="!hideHeading">
            {{ date.toLocaleDateString('en-US', {month: "long"}) }}
            {{ year }}
        </h6>
        <div>
            <app-transparent-button
                icon="chevron-right"
                (click)="changeMonthUp()"
                size="ICON"
                iconSize="0.5rem"
            ></app-transparent-button>
            <app-transparent-button
                icon="chevron-double-right"
                (click)="changeYearUp()"
                size="ICON"
                iconSize="0.5rem"
            ></app-transparent-button>
        </div>
    </div>
    <div class="calendar-container" [class]="{'fixed-height': fixedHeight, 'has-labels': !hideLabels}">
        <div
            class="item"
            *ngFor="let item of calendarArray; let i = index"
            [class]="item.type == 'enabled' ? '' : item.type"
            [ngClass]="{selected: item.selected, today: item.today}"
        >
            <button
                *ngIf="item.date"
                (click)="onItemClick(i, item.returnValue)"
            >
                {{ item.date }}
            </button>
        </div>
    </div>
</div>