<app-header></app-header>
<main>
    <section *ngIf="lastWorkout">
        <h4>Last workout</h4>
        <app-last-workout></app-last-workout>
    </section>
    <section>
        <h4>Workout plans</h4>
        <app-plan-list></app-plan-list>
        <app-main-button icon="plus-lg" text="New plan" routerLink=""></app-main-button>
    </section>
    <section>
        <hr>
        <div class="buttons">
            <app-ghost-button icon="gear" text="Settings" routerLink="settings"></app-ghost-button>
            <app-ghost-button icon="person-circle" text="User Info" routerLink="information"></app-ghost-button>
        </div>
    </section>
</main>