.card {
    width: calc(100% - min(0.4em, 1rem) * 2);
    height: 100%;
    padding: min(0.2em, 0.5rem) min(0.6em, 1.5rem);
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    gap: 0.6em 1.2em;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    
    span {
        font-family: Roboto, sans-serif;
    }
    .icon {
        font-size: 1.6em;
        opacity: 70%;
    }
}