<div class="input-container" [ngClass]="{'flex-column-reverse': reverseOrder, horizontal: horizontal}">
    <app-radio-bar
        [options]="unitOptions"
        size="S"
        [disabled]="unitDisabled"
        [value]="value.unit"
        (valueChange)="onUnitChange($event)"
    ></app-radio-bar>
    <app-number-input
        [value]="value.value"
        (valueChange)="onValueChange($event)"
        [alwaysShowButtons]="alwaysShowButtons"
        [alwaysShowBorder]="alwaysShowBorder"
        [noButtons]="noButtons"
        [buttonIncrement]="buttonIncrement"
        [placeholder]="value.unit"
    ></app-number-input>
</div>